.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100vh;

  &__title {
    opacity: 0.5;
    font-weight: $fw-semi-bold;
    color: $white;
    font-size: $fz-md;
  }

  &__descr {
    color: $white;
    font-size: $fz-lg;
  }

  &__prefix {
    background: $primary;
    z-index: 1;
    position: absolute;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__container {
    font-weight: $fw-bold;
    overflow: hidden;
    height: 64px;
    position: relative;
    font-size: $h1-fz;
    line-height: 64px;
    color: $white;
    margin-top: $padding-micro;
    margin-bottom: $padding-small;

    @include size-llg {
      font-size: $h2-fz;
      height: 46px;
    }

    @include size-md {
      font-size: $h3-fz;
      height: 34px;
    }

    @include size-sm {
      font-size: $h4-fz;
      height: 30px;
    }

    @include size-xs {
      font-size: $fz-sm;
      height: 23px;
    }
  }

  &__list {
    text-align: left;
    list-style: none;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    &-item {
      line-height: 64px;
      margin: 0;

      @include size-llg {
        line-height: 46px;
      }

      @include size-md {
        line-height: 34px;
      }

      @include size-sm {
        line-height: 30px;
      }

      @include size-xs {
        line-height: 24px;
      }
    }
  }
}

@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
