.statistics{
  display: flex;
  height: 100%;
  flex-flow: row wrap;
  justify-content: space-between;

  &__item{
    width: 100%;
    display: flex;
    font-weight: $fw-bold;
    font-size: $fz-lg;

    &:last-child{
      align-items: center;
    }

    @include size-md {
      &:not(:last-child){
        margin-bottom: $padding-default;
      }
    }

    @include size-xs {
      font-size: $fz-md;

      &:not(:last-child){
        margin-bottom: $padding-small;
      }
    }
  }

  &__output{
    margin-left: $padding-micro;
    font-weight: normal;
  }

  &__probability{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: $padding-normal;

    &-wrapper{
      background: $base;
      height: 26px;
      width: 80%;
      border-radius: $card-br;

      @include size-xs {
        width: 70%;
      }
    }

    &-bar{
      border-radius: $card-br;
      height: 100%;
      background-color: $success;
      transition: $transition-1;
    }

    &-percentage{
      width: 25%;
      margin-left: $padding-default;
      font-weight: normal;

      @include size-xs {
        width: 70%;
      }
    }
  }
}
