.card {
  padding: $padding-normal;
  background: $card-bg-default;
  border-radius: $card-br;
  box-sizing: border-box;

  &_width {
    &_full {
      grid-column: span 2;
    }

    &_half {
      grid-column: span 1;
    }
  }

  &_border {
    border: 1px solid #e0e0e0;
  }
}
