/*========== Body ==========*/
html {
  overflow-x: hidden;
}

body {
  background-color: $body-bg;
  color: $body-color;
  * {
    line-height: normal;
    font-family: $body-font;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
