.description{

  &__heading{
    font-size: $fz-llg;
    font-weight: $fw-bold;
    color: $dark;
  }

  &__text{
    margin: $padding-default 0 $padding-lg;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  &__link{
    cursor: pointer;
    text-decoration: underline;
    transition: $transition-1;

    &:hover{
      color: $secondary;
    }
  }
}
